body {
    background-image: url("../assets/images/bg.JPG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center
}

#main-site {
    padding-left: 200px;
    position: relative;
    height: 100%
}

.wrapper {
    padding: 40px 0;
    overflow: hidden;
    background: white;
}

#jumbotron {
    position: relative;
    color: #f4f4f4;
    height: 58%
}

#jumbotron h1 {
    max-width: 500px;
    margin-top: 8%;
    text-shadow: 1px 1px 2px #4E4D4B
}

@media only screen and (max-width: 800px) {
    #jumbotron h1 {
        float: none;
        margin: 210px auto!important;
        text-align: center;
        max-width: 750px;
        font-size: 3.1em!important;

    }
    #jumbotron {
        height: 40%!important;
        background-image: url("../assets/images/bg.JPG")!important;
        background-size: cover!important;
    }
}

@media only screen and (max-width: 768px) {
    #jumbotron h1 {
        margin: 140px auto!important;
    }
}

@media only screen and (max-width: 603px) {
    #jumbotron h1 {
        margin: 120px auto!important;
        font-size: 2.5em!important;
    }
}

@media only screen and (max-width: 414px) {
    #jumbotron h1 {
        margin: 100px auto!important;
        font-size: 1.5em!important;
    }
}

@media only screen and (max-width: 320px) {
    #jumbotron h1 {
        margin: 80px auto!important;
        font-size: 1.3em!important;
    }
}

.main-border {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-image: url("../assets/images/border.png");
    background-repeat: repeat-x
}

#start-section {
    background-color: #fff
}

#start-section h4 {
    text-align: center;
    margin: 5px 0;
    font-size: 1.25em
}

.icon-heart {
    display: block;
    text-align: center;
    font-size: 2.5em;
    color: #BEE904
}

#side-bar {
    position: fixed;
    width: 200px;
    height: 100%;
    z-index: 9999;
    background: #fff;
    overflow: visible;
    -moz-box-shadow: rgba(0, 0, 0, 0.17) 5px 5px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.17) 5px 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 5px 5px 10px
}

#mobile-nav {
    display: none
}



#main-nav li {
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -webkit-transition: 0.8s;
    transition: 0.8s
}

#main-nav li:nth-child(4n-3) {
    border-right: 8px solid #BEE904
}

#main-nav li:nth-child(4n-3):hover {
    background: #BEE904;
    border: 0
}

#main-nav li:nth-child(4n-2) {
    border-right: 8px solid #FFA202
}

#main-nav li:nth-child(4n-2):hover {
    background: #FFA202;
    border: 0
}

#main-nav li:nth-child(4n-1) {
    border-right: 8px solid #CB3536
}

#main-nav li:nth-child(4n-1):hover {
    background: #CB3536;
    border: 0
}

#main-nav li:nth-child(4n) {
    border-right: 8px solid #53A881
}

#main-nav li:nth-child(4n):hover {
    background: #53A881;
    border: 0
}

#main-nav a {
    display: block;
    padding: 7px 0 7px 15px
}

#menu-buttons a {
    display: block;
    margin-top: 3px;
    padding: 7px 0 7px 30px;
    color: #f4f4f4;
    background: #CB3536
}

#menu-buttons a:hover {
    background: #db7273
}

#matplaneta-logo {
    background: #9DBB1D;
    width: 200px;
    height: 200px
}

#about-section {
    background-color: #f3f3f3
}

@media only screen and (max-width: 800px) {
    #about-section .container .box {
        padding: 25px!important;
    }
}

.box {
    position: relative;
    margin: 0 auto;
    width: 45%;
    float: left;
    height: 0;
    padding-bottom: 45%;
    background: #fff
}

.box:nth-child(2n) {
    margin-left: 5%
}

.box-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: center
}

.box-mask:hover {
    opacity: 0
}

.box-mask h3 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

#box-1 {
    background: #9DBB1D
}

#box-2 {
    background: #FFA202
}

#box-3 {
    background: #CB3536
}

#box-4 {
    background: #53A881
}

.small-box {
    float: left;
    width: 100%
}

.small-box p {
    font-size: 1.4em;
    padding: 8px;
    text-align: justify
}

.small-box ol {
    font-size: 1.4em;
    list-style-type: decimal;
    margin: 0 0 0 30px
}

#news-section {
    background-color: #fff
}

#news-box {
    overflow: hidden;
    clear: both;

}

.news {
    background-color: whitesmoke;
    padding: 15px 25px 15px 25px;
}



#news-box div {
    border: 1px solid #f4f4f4
}

#news-box div h5 {
    margin-left: 5%;
/*   text-transform: capitalize;*/
}

#news-box div p {
    margin: 5%;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.3em;
    /* letter-spacing: 1px; */
}

#news-box div a {
    color: #CB3536;
    text-decoration: underline;
    font-size: 1em;}

#news-box img {
    width: 100%;
    max-width: 340px;
    height: auto;
    margin-bottom: 15px;
    float: left;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 7px;
}

@media screen and (max-width: 540px) {
    #news-box img {
        float: none;
        margin: 15px auto;
    }

    #news-box div h5 {
        margin-left: 0;
        text-align: center;
        float: none;
    }

    #news-box div p {
        margin: 0 auto;
        text-align: justify;
        float: none;
    }
}

@media screen and (max-width: 739px) {
    #news-box img {
        float: none;
        margin: 15px auto;
    }

    #news-box div h5 {
        margin-left: 0;
        text-align: center;
        float: none;
    }

    #news-box div p {
        margin: 0 auto;
        text-align: justify;
        float: none;
    }
}

.news-date {
    font-size: 1.2em;
    float: right
}

p.bold-paragraph {
    font-weight: 600;
}

#lesson-section {
    background: #f3f3f3
}

#lesson-section h4 {
    text-align: center
}

#tabs {
    background: #fff;
    overflow: hidden;
    text-align: center
}

#tabs li {
    border: 1px solid #f3f3f3;
    width: 33.33333%;
    float: left;
    border-bottom: 3px solid #fff
}

#tabs li:hover {
    border-bottom: 3px solid #BEE904
}

#tabs .active {
    border-bottom: 3px solid #BEE904
}

#tabs .active a {
    color: #9DBB1D
}

#tabs a {
    display: block;
    padding: 40px
}

#tabs a:hover {
    color: #9DBB1D
}

#tab-content {
    background: #fff
}

.tab {
    display: none;
    padding: 40px
}

.tab.active {
    display: block
}

.tab img {
    float: left;
    max-width: 340px;
    width: 100%;
    margin-right: 15px
}

.tab li {
    list-style: disc
}

.tab a {
    font-size: 1.1em;
    padding: 10px;
}

.show-hidden {
    color: #CB3536;
    text-decoration: underline;
    float: right;
    padding: 15px
}

.hidden {
    display: none
}

.program {
    font-size: 1em;
    color: #CB3536;
    text-decoration: underline
}

.zapisy {
    display: block;
    margin: 35px auto 35px auto;
    color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
    width: 200px;
    background: #CB3536
}

.zapisy:hover {
    background: #d55e5e
}

#gallery-section {
    background: #fff;
    padding-bottom: 0;
    border: 0
}

.gallery-item {
    position: relative;
    overflow: hidden;
    float: left;
    width: 33.33333%;
    height: 100%;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    -webkit-transition: 0.7s;
    transition: 0.7s
}

.gallery-item img {
    width: 100%;
    height: auto;
    float: left
}

.gallery-item:hover .gallery-mask {
    opacity: 1
}

.gallery-item h5 {
    color: #f4f4f4;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0
}

.gallery-item:hover h5 {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
}

.gallery-item p {
    color: #f4f4f4;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    opacity: 0
}

.gallery-item:hover p {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
}

.gallery-mask {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s
}

.gallery-mask:nth-child(1) {
    background: rgba(83, 168, 129, 0.8)
}

.gallery-mask:nth-child(2) {
    background: rgba(255, 162, 2, 0.8)
}

.mask-content {
    width: 80%;
    margin: 20% auto 0 auto
}

.mask-content p {
    margin-right: 5%;
    text-align: right
}

@media only screen and (max-width: 1220px) {
    .mask-content {
        margin: 13% auto 0 auto
    }

    .mask-content h5 {
        font-size: 1.3em
    }
}

#work-section {
    color: #333333;
    border: 0
;
    background-color: #9dbb1d;
}

#work-section h4 {
    padding: 10px
;
    color: white;
}

#work-section p {
    color: white;
    padding: 10px
}

#work-section li {
    font-size: 1.3em;
    padding-bottom: 5px;
    /* list-style: url("http://static.cdprojektred.com/cdprojektred/wp-content/themes/evp-cdpr/img/bullet-red.png"); */
    color: white;
    list-style-type: disc;
}

.work-offer {
    background-color: #9dbb1d;
    padding: 15px 25px 15px 25px;
}

#work-section .expectations {
    color: whitesmoke;
}

#location-section {
    background-color: #fff
}

#location-section ul {
    max-width: 700px;
    margin: 0 auto
}

#location-section li {
    width: 100%;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: whitesmoke;
    padding: 15px 25px 15px 25px;

}

#location-section li h6 {
    width: 100%;
    float: left;
    color: #CB3536


}


#location-section li div {
    font-size: 1.1em;
    color: #7a7a7a;
    float: left;
    /* letter-spacing: 1px; */
}

.location-button {
    float: right;
    padding: 8px;
    background-color: #53A881;
    color: #f4f4f4;
    margin-right: 5px;
    font-size: 1.5em;
    transition: color, text, 1s, ease-out;
}

.bottom-button {
    margin-top: 40px;
}

.location-button:hover {
    background: #85c3a6
}

@media screen and (max-width: 419px) {
    .location-button {
        float: left;
        margin-bottom: 10px;
    }
}

#contact-section {
    background-color: #f3f3f3
}

#contact-section h4 {
    margin: 30px 0 10px 0
}

#contact-section input, #contact-section textarea {
    display: block;
    padding: 10px 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 0;
    background-color: #fff;
    -moz-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s
;font-family: 'Open-Sans', 'Verdana', sans-serif;
}

#contact-section input:focus, #contact-section textarea:focus {
    background: #9DBB1D;
    border: 0;
    color: #f4f4f4;
    outline: none
}

#contact-section input:focus:-moz-placeholder, #contact-section textarea:focus:-moz-placeholder {
    color: #f4f4f4
}

#contact-section input:focus::-moz-placeholder, #contact-section textarea:focus::-moz-placeholder {
    color: #f4f4f4
}

#contact-section input:focus:-ms-input-placeholder, #contact-section textarea:focus:-ms-input-placeholder {
    color: #f4f4f4
}

#contact-section input:focus::-webkit-input-placeholder, #contact-section textarea:focus::-webkit-input-placeholder {
    color: #f4f4f4
}

#contact-section textarea {
    height: 250px
}

#contact-section input[type=submit] {
    float: right;
    width: 150px;
    padding: 10px 20px;
    border: 0;
    background: #9DBB1D;
    color: #f4f4f4
}

#contact-section input[type=submit]:hover {
    background: #8aa51a
}

#contact-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto
}

footer {
    position: relative;
    background: #1A1A1A;
    font-size: 1.2em;
    color: #888;
    clear: both;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

footer .main-border {
    top: 0
}

footer a {
    font-size: 1em;
    color: #888
}

footer a:hover {
    text-decoration: underline
}

footer h6 {
    color: #f4f4f4;
    margin-bottom: 5px;
    font-size: 1.2em
}

.footer-links .location-footer-name {
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 15px;
    color: #cb3536;
}

@media only screen and (max-width: 1176px) {
    .footer-links .location-footer-name {
        margin-top: 40px;
    }
    #others-locations {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 375px) {
    .footer-links .location-footer-name {
        margin-top: 45px!important;
    }
}

@media only screen and (max-width: 1005px) {
    .footer-links .location-footer-name {
        margin-top: 15px;
    }
}

.main-links:first-child ul {
    padding-top: 10px
}

.main-links:first-child li {
    padding-bottom: 10px
}

.footer-links li {
    display: inline;
    float: left
}

.footer-links a {
    display: block;
    padding: 10px 20px 10px 0
}

#footer-nav ul {
    float: right
}

#sub-footer {
    background-color: #9DBB1D;
    min-height: 60px;
    color: #474747
}

#sub-footer a {
    color: #474747
}

#copyright {
    display: block;
    padding-top: 10px
}

#location {
    background-color: #fff;
    padding-bottom: 0;
    min-height: 80%
}

#location li {
    padding: 2px 0}

#location li p {
    font-size: 14px;
    color: #616161
}

#location h6 {
    font-size: 14px;
    padding: 15px 0 5px 0
}

#location iframe {
    margin: 0 auto;
    display: block;
    overflow: hidden;
    border: 0
}

.row {
    border-bottom: 1px solid #f4f4f4
}

.harmonogram {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

#harmonogram {
    
}

.zapisy-button {
    display: block;
    float: right;
    color: #f4f4f4;
    padding: 25px 0;
    text-align: center;
    width: 200px;
    background: #CB3536;
    margin-right: 5px;
}

.zapisy-button:hover {
    background: #d55e5e
}

#form-message {
    min-height: 80%;
    background: #fff
}

#message {
    height: 100%;
    width: 100%;
    text-align: center
}

#message h1 {
    margin-top: 15%
}

@media screen and (max-width: 700px) {
    #message h1 {
        font-size: 1.2em
    }
}

#zapisy {
    background: #fff;
    min-height: 100%
}

#zapisy p {
    margin: 5px 0
}

.lesson-item {
    width: auto;
    margin: 40px auto 80px auto
}

.lesson-item h4 {
    border-bottom: 1px solid #efefef
}

.active-semestr h4, .active-semestr p {
    color: #CB3536
}

#harmonogram-nav {
    margin: 20px auto;
    width: auto;
    overflow: hidden
}

#harmonogram-nav li {
    float: left;
    margin: 2px
}

.regulamin h5 {
    margin-top: 25px
}

.regulamin a {
    font-size: 1em;
    color: #CB3536;
    text-decoration: underline
}

.regulamin strong {
    color: #333
}

@media only screen and (max-width: 800px) {
    .regulamin {
        padding: 25px!important;
    }
    .lesson-item {
        padding: 25px!important;
    }
}

#formularz {
    background-color: #fff
}

.back-button {
    padding: 20px;
    margin: 10px auto;
    background-color: #CB3536;
    display: block;
    width: 100px;
    color: #fff
}

.back-button:hover {
    background-color: #d55e5e
}

#form {
    font-family: Dosis;
    max-width: 600px;
    margin: 40px auto 0 auto
}

#form label, #form input, #form textarea {
    display: block
}

#form input.text, #form textarea.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
    font-size: 15px
}

#form input.login {
    margin-bottom: 12px;
    width: 200px;
    padding: .4em;
    font-size: 12px
}

#form fieldset {
    padding: 0;
    border: 0;
    font-size: 18px;
    font-weight: bold
}

#form input, #form textarea, #form select {
    background-color: #F3F3F3
}

#form h1 {
    font-size: 1.2em;
    margin: .6em 0
}

#form .ui-button {
    outline: 0;
    margin: 0;
    padding: .4em 1em .5em;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    text-align: center
}

#form .ui-dialog .ui-state-highlight, #form .ui-dialog .ui-state-error {
    padding: .3em
}

#form label {
    font-size: 15px;
    text-align: left;
    line-height: 150%;
    padding: 5px
}

#form #wyslane {
    font-size: 12px
}

#form #_ilx_alertShown_ {
    display: none
}

#form #dialog .none {
    display: none
}

#form .wyslane {
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold
}

#form .errors {
    background-color: #bf1b04;
    border: 1px solid #ffffff;
    width: 88%;
    color: #ffffff;
    text-align: left;
    font-size: 12px;
    z-index: 3001;
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    line-height: 150%;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px
}

#form .errors li {
    list-style-type: none
}

#form p.description, #form p.hint {
    line-height: 150%;
    background-color: #FFFDBD;
    border: 1px solid #666;
    padding: 10px 15px;
    width: auto;
    height: auto;
    display: none;
    color: #000;
    text-align: left;
    font-size: 12px;
    z-index: 30110;
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    position: absolute
}

#form #submit-label, #form #reset-label, #form #submit-element, #form #reset-element {
    float: left;
    color: #9dbb1d
}

#form #form-label, #form #login-label {
    display: none
}

#form #fieldset-login {
    margin-left: 180px
}

#form #wakacje-element, #form #wakacjea-element, #form #matematyka-element, #form #matematyka_tarchomin-element, #form #matematykaa-element, #form #matematykab-element, #form #matematykat-element, #form #programowanie-element, #form #programowanie_tarchomin-element, #form #programowanie_wawer-element, #form #legoprogramowanie-element, #form #legoprogramowanie_tarchomin-element, #form #legoferieprogramowanie-element, #form #fplatnosc-element, #form #form-element {
    width: 100%;
    border: 1px solid #9dbb1d
}

#form .checkbox-wrap {
    width: 190px;
    height: auto;
    float: left
}

#form .checkbox-wrap2 {
    width: 275px;
    height: auto;
    float: left;
    margin-left: 10px
}

#form .checkbox-wrap3 {
    width: 100%;
    height: auto;
    float: left
}

#form .checkbox-wrap4 {
    margin-left: 30px;
    width: 100%;
    height: auto;
    float: left;
    text-align: right;
    font-weight: normal
}

#form .checkbox-wrap5 {
    width: 100%;
    height: auto;
    float: left
}

#form .checkbox-wrap label, #form .checkbox-wrap2 label, #form .checkbox-wrap3 label, #form .checkbox-wrap5 label, #form label.label {
    font-weight: normal;
    line-height: 30px
}

#form .checkbox-wrap3 label, #form .checkbox-wrap5 label {
    margin-left: 10px
}

#form .checkbox-wrap .optional, #form .checkbox-wrap2 .optional, #form .checkbox-wrap3 .required, #form .checkbox-wrap5 label.optional, #form #fieldset-fplatnosc label.rodzenstwo {
    font-weight: bold;
    color: #799216
}

#form .checkbox-wrap input, #form .checkbox-wrap2 input, #form .checkbox-wrap3 input, #form .checkbox-wrap5 input {
    float: left;
    margin-right: 5px;
    margin-top: 8px
}

#form #fieldset-wakacje legend, #form #fieldset-wakacjea legend, #form #fieldset-matematyka legend, #form #fieldset-matematyka_tarchomin legend, #form #fieldset-matematykaa legend, #form #fieldset-matematykab legend, #form #fieldset-matematykat legend, #form #fieldset-programowanie legend, #form #fieldset-programowanie_tarchomin legend, #form #fieldset-programowanie_wawer legend, #form #fieldset-legoprogramowanie legend, #form #fieldset-legoprogramowanie_tarchomin legend, #form #fieldset-legoferieprogramowanie legend, #form #fieldset-form legend, #form #fieldset-fplatnosc legend {
    background-color: #9dbb1d;
    line-height: 30px;
    width: 100%;
    text-indent: 10px;
    top: -10px;
    padding: 0
}

#form #rodzenstwo-element, #form #polecenie-element, #form #akceptacja, #form #zgoda, #zgoda-wizerunek {
    float: left
}

#form #rodzenstwo-element input {
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px
}

#form #polecenie-element input, #form #akceptacja input {
    margin-left: 10px;
    margin-top: 8px;
    margin-right: 10px
}

#form .grupa input {
    margin-left: 10px;
    margin-top: 8px;
    margin-right: 10px
}

#form #roboty {
    float: left;
    margin-top: -24px;
    margin-left: -15px;
    margin-right: 10px
}

#form label.klasa {
    float: left;
    font-weight: normal
}

#form #klasa-element select {
    height: 30px;
    width: 200px
}

#form #form-element dl {
    margin-left: 10px
}

#form .alert-success {
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 26px;
    background-color: #9DBB1D;
    width: 400px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid #718815;
    color: #FFF
}

#form .pole-z-errorem {
    float: right;
    color: red;
    font-size: 16px;
    margin-right: 30px
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html, body {
    width: 100%;
    height: 100%
}

article, aside, figure, figcaption, img, hgroup, footer, header, nav, section, video, object {
    display: block
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ol, ul {
    list-style: none;
    list-style-position: outside
}

@font-face {
    font-family: 'icomoon';
    src:url('../assets/fonts/icomoon.eot?-bbeh0a');
    src:url('../assets/fonts/icomoon.eot?#iefix-bbeh0a') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?-bbeh0a') format('truetype'),
    url('../assets/fonts/icomoon.woff?-bbeh0a') format('woff'),
    url('../assets/fonts/icomoon.svg?-bbeh0a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?yttx72');
	src:url('fonts/icomoon.eot?#iefixyttx72') format('embedded-opentype'),
		url('fonts/icomoon.ttf?yttx72') format('truetype'),
		url('fonts/icomoon.woff?yttx72') format('woff'),
		url('fonts/icomoon.svg?yttx72#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-phone:before {
	content: "\e601";
}
.icon-earth:before {
	content: "\e60e";
}
.icon-heart:before {
	content: "\e602";
}
.icon-envelope:before {
	content: "\e603";
}
.icon-google-plus:before {
	content: "\e604";
}
.icon-facebook:before {
	content: "\e605";
}
.icon-instagram:before {
	content: "\e606";
}
.icon-twitter:before {
	content: "\e607";
}
.icon-youtube:before {
	content: "\e608";
}
.icon-vimeo:before {
	content: "\e609";
}
.icon-dropbox:before {
	content: "\e60a";
}
.icon-android:before {
	content: "\e60b";
}
.icon-skype:before {
	content: "\e60c";
}
.icon-linkedin:before {
	content: "\e60d";
}



body {
    font-family: 'Open-Sans', 'Verdana', sans-serif;
    line-height: 1.48;
    font-size: 0.625em;
    color: #333
}

p {
    font-size: 1.6em;
    color: #474747
}

h1 {
    font-size: 3.6em
}

h2 {
    font-size: 3.0em
}

h3 {
    font-size: 2.4em
}

h4 {
    font-size: 2.1em;
    font-weight: normal
}

h5 {
    font-size: 1.7em;
    font-weight: normal
}

h6 {
    font-size: 1.6em;
    font-weight: normal
}

a {
    font-size: 1.5em;
    text-decoration: none;
    color: #333;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s
}

strong {
    color: #BEE904
}

q {
    color: #f4f4f4;
    font-size: 1.8em;
    font-weight: 100
}

.section-header {
    text-align: center;
    margin-bottom: 50px
}

.section-header img {
    margin: 0 auto
}

.news-header {
    color: #CB3536;
    margin-bottom: 5px
}

.always-bottom {
    padding-top: 90px;
}

.always-bottom-second {
    padding-top: 35px;
}

.always-bottom-two{
    padding-top: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto
}

.clear-row-3 {
    overflow: hidden
}

.clear-row-3 div:nth-child(3n-2) {
    clear: left
}

.clear-row-2 div:nth-child(2n-1) {
    clear: left
}

.container {
    margin: 0 auto;
    position: relative;
    overflow: hidden
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px
}

.container {
    width: 960px
;
}

.container .col1 {
    width: 50px
}

.container .col2 {
    width: 130px
}

.container .col3 {
    width: 210px
}

.container .col4 {
    width: 290px
}

.container .col5 {
    width: 370px
}

.container .col6 {
    width: 450px
}

.container .col7 {
    width: 530px
}

.container .col8 {
    width: 610px
}

.container .col9 {
    width: 690px
}

.container .col10 {
    width: 770px
}

.container .col11 {
    width: 850px
}

.container .col12 {
    width: 930px
}

@media only screen and (min-width: 1010px) and (max-width: 1199px) {
    .container {
        width: 750px
    }

    .container .col1 {
        width: 32.5px
    }

    .container .col2 {
        width: 95px
    }

    .container .col3 {
        width: 157.5px
    }

    .container .col4 {
        width: 220px
    }

    .container .col5 {
        width: 282.5px
    }

    .container .col6 {
        width: 345px
    }

    .container .col7 {
        width: 407.5px
    }

    .container .col8 {
        width: 470px
    }

    .container .col9 {
        width: 532.5px
    }

    .container .col10 {
        width: 595px
    }

    .container .col11 {
        width: 657.5px
    }

    .container .col12 {
        width: 720px
    }

    .box p {
        font-size: 1.1em
    }

    .box ol {
        font-size: 1.1em
    }
}


@media only screen and (max-width: 1009px) {
    .small-hide {
        display: none
    }

    .container {
        max-width: 100%
    }

    .container div[class^=col] {
        margin-left: 5%;
        margin-right: 5%
    }

    .container .col1 {
        width: 90%
    }

    .container .col2 {
        width: 90%
    }

    .container .col3 {
        width: 90%
    }

    .container .col4 {
        width: 90%
    }

    .container .col5 {
        width: 90%
    }

    .container .col6 {
        width: 90%
    }

    .container .col7 {
        width: 90%
    }

    .container .col8 {
        width: 90%
    }

    .container .col9 {
        width: 90%
    }

    .container .col10 {
        width: 90%
    }

    .container .col11 {
        width: 90%
    }

    .container .col12 {
        width: 90%
    }

    body {
        background: none
    }

    #side-bar {
        display: none
    }

    #main-site {
        padding: 0;
        top: 80px;
        background-image: url("../assets/images/bg-phone.JPG");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right
    }

    #mobile-nav {
        position: fixed;
        display: block;
        z-index: 9999;
        height: 80px;
        background-color: #fff;
        width: 100%;
        border-bottom: 1px solid #f4f4f4
    }

    #mobile-nav ul {
        position: absolute;
        overflow: hidden;
        top: 80px;
        width: 100%;
        text-align: center
    }

    #mobile-nav ul li {
        float: none;
        background-color: #fff;
        width: 100%;
        border-bottom: 1px solid #f4f4f4;
        border-right: 1px solid #f4f4f4;
        transition: color, 0.5s, ease-out;
    }

    #mobile-nav ul li:active{
        background-color: #9dbb1d;
    }

    #mobile-nav ul a {
        padding: 10px 0;
        display: block
    }


    #phone-logo img {
        float: left;
        margin-left: 5%;
        margin-top: 15px
    }

    #menu-button img {
        float: right;
        cursor: pointer;
        margin-right: 5%;
        margin-top: 22.5px
    }

    #jumbotron {
        margin: 0 auto;
        width: 100%;
        height: 70%
    }

    #jumbotron h1 {
        font-size: 2.4em;
        margin-top: 10%
    }

    .box {
        width: 100%;
        height: auto;
        padding: 0;
        background: #efefef
    }

    .box:nth-child(2n) {
        margin: 0
    }

    .box-mask {
        display: none
    }

    #tabs li {
        width: 100%
    }

    #gallery img {
        width: 100%;
        float: left
    }

    .gallery-item {
        width: 50%
    }

    .gallery-item:last-child {
        display: none
    }

    #footer-nav ul {
        float: left
    }

    .zapisy-button {
        margin: 0 auto;
        float: none;
        margin-bottom: 5px;
    }
}

#cookieinfo {
    position: fixed;
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #323334;
    padding: 20px;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.5);
    z-index: 9999
}

#cookieinfo h6 {
    font-size: 16px;
    font-weight: bold;
    color: #cdd7da;
    text-shadow: 0px 1px 1px #000;
    margin-bottom: 7px
}

#cookieinfo p {
    font-size: 12px;
    color: #afb4bc;
    line-height: 1.5em;
    text-shadow: 0px 1px 1px #000
}

#cookieinfo a {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    line-height: 22px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #ff6000;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75)
}

#cookieinfo a:hover {
    background-color: #ff7925
}

.to-left {
    float: left
}
.popup {
    z-index: 1000;
    display: table;
    position: fixed;
    padding: 5px;
    padding-top: 20px;
    top: 70px;
    right: 40px;
    background: white;
    width: 236px;
    height: 205px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 1px solid #efefef;
    -webkit-box-shadow: 0px 0px 14px -2px rgba(74,74,74,1);
    -moz-box-shadow: 0px 0px 14px -2px rgba(74,74,74,1);
    box-shadow: 0px 0px 14px -2px rgba(74,74,74,1);
    text-align: center;
}

.popup2 {
    top: 300px;
}

.popup .zapisy {
    width: 150px;
    padding: 15px;
}
.close-button {
    cursor: pointer;
    position: absolute;
    top: -1px;
    right: -1px;
    color: #4f4f4f;
    background-color: #efefef;
    width: 20px;
    height: 20px;
    border: 1px solid #d3d3d3;
    margin: 5px;
}
.info {
    display: table-cell;
    vertical-align: middle;
}

.second-news {
    line-height: 21px;
    font-size: 15px;
}



.zapisy-button:hover {
    background: #d55e5e
}

.contact-form {
    margin: 0 auto;
    float: none;
    text-align: center;

}

.info {
    display:inline;
}

.popup {
    display:inline;
}

/** suckesy **/

/** sukcesy **/

#success {
    /* background-color: whitesmoke; */
}

#szkoly {
    background: white;
}

.success {
    background: white;
}

#success-info {

    /* background: whitesmoke; */
}

#success-info h4 {
    margin-bottom: 25px;
}

#success-info p {
    float: left;
    margin-bottom: 25px;
    font-size: 1.3em;
    /* letter-spacing: 1px; */
}

#success-info h5 {
    padding-right: 15px;
    padding-left: 15px;
}

ul.celebryty {
    margin: 0 auto;
    float: none;
    text-align: center;
    margin-top: 35px;
}

ul.celebryty li {
    display: inline-block;
    width: 100%;
    height: 260px;
    padding-bottom: 300px;
}

.celebryty-name {
    color: #cb3638;
}

.smokee {
    background-color: whitesmoke;
}

ul.celebryty li circle {
    height: 200px;
    width: 200px;
    margin: 0 20px 0 20px;
}

div.circle img {
    border-radius: 50%;
    float: left;
    text-align: center;

    padding: 27px;
    position: relative;
    right: 20px;
}

div.circle .circlee {
    height: 260px;
    width: 260px;
}

div.caption {
    height: 230px;
    /* margin-right: 25px; */
    /* margin-bottom: 100px; */
    /*position: relative;*/
    top: 25px;
}

div.caption p {
    text-align: justify;
    max-width: 1080px;
    padding: 5px;
}

div.circle-second img {
    border-radius: 50%;
    float: right;
    text-align: center;
    margin-right: 25px;
    padding: 25px;
    position: relative;
    left: 45px;
}

div.caption h5 {
    text-align: justify;
    font-size: 18px;

    padding: 10px;
}

div.caption-second {
    height: 230px;
    margin-bottom: 30px;
    padding: 30px;
    position: relative;
    top: 0px;
}

div.caption-second p {
    text-align: justify;
    max-width: 829px;
    padding: 5px;
}

div.caption-second h5 {
    font-size: 18px;
    text-align: justify;
    padding: 5px;
}


@media screen and (max-width: 390px) {
    div.caption {
        max-height: 240px;
    }
}

@media screen and (max-width: 540px) {
    div.circle-second img {
        float: none;
        margin: 0 auto;
        left: 0;
    }

    div.circle img {
        float: none;
        margin: 0 auto;
        right: 0;

    }

    ul.celebryty li.smokee {
        background-color: white;

    }
}

@media screen and (max-width: 650px) {
    ul.celebryty li {
        height: 350px;
    }
}

@media screen and (max-width: 941px) {
    div.caption {
        padding: 15px;
    }

    div.caption-second {
        padding: 15px;
    }

    div.caption p {
        font-size: 1.3em;

        padding: 0;
    }

    div.caption-second p {
        font-size: 1.3em;
    }
}


@media screen and (min-width: 1600px) {
    div.caption-second p {
        width: 1050px;
    }

    div.caption p {
        width: 1300px;
    }
}

@media screen and (min-width: 1920px) {
    div.caption-second p {
        width: 1380px;
    }

    div.caption p {
        width: 1618px;
    }
}

/** szkoly **/


.school {
    background: white;
}

.col12 .school-list {
    width: 202px;
	height: 280px;
}

.col12 .school-list .first-school-logo {
    height: 100px;
}

.col12 .school-list .second-school-logo {
    height: 100px;
    width: 170px;
}

.col12 .school-list p {
    font-size: 1.3em;
    padding: 2px;
}

.col12 .school-list span {
    color: #cb3536;
}


#school-info h5 {
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#school-info p {
    float: left;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

#school-info ul li {
    display: inline-block;
    text-align: center;
    margin-top: 30px;

}

#school-info ul {
    margin: 0 auto;
    float: none;
    text-align: center;
}

@media only screen and (max-width: 1199px) and (min-width: 1010px) {
    #school-break {
        padding-top: 40px;
    }

    #school-break-second {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 1009px) {
    #school-div {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 574px) {
    #school-div {
        margin-left: 25%;
        margin-right: 25%;
    }
}
/** random **/

div.location-container {
    width: 314px;
    height: 150px;
}

div.location-container p  {
    text-align: justify;
    font-size: 1em;
}

.underline {
    text-decoration: underline;
}

#main-footer {
    background: #1a1a1a;
}

.local-news {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
    background-color: #f5f5f5;
    padding: 15px 25px 15px 25px;
    margin-right: 10px;
    margin-left: 10px;
}

.local-news a {
    color: #CB3536;
    text-decoration: underline;
    font-size: 1em;
}

.local-news-container {
    padding: 10px;

}

.news-headline {
    text-align: center;
    margin: 10px 15px 10px 15px;
}

/** sub main-menu **/




.aside-button a {
    display: block;
    margin-top: 3px;
    padding: 7px 0 7px 30px;
    color: #f4f4f4;
    background: #CB3536;
    transition: color, 1s, ease-out;
}

.aside-button a:hover {
    background: white;
    color: #000000;
}



#main-nav {
    height: 285px;
}

#main-nav ul li ul li {
    width: 140px;
}


nav ul ul {
    display: none;
}

/** jquery main-menu **/



/*
    LEVEL ONE
*/
ul.dropdown                         { position: relative; width: 100%; }
ul.dropdown li                      { float: left; width: 200px; position: relative; }
ul.dropdown a:hover                 { color: #000; }
ul.dropdown li a                    { display: block; padding: 20px 8px; color: #222; position: relative; z-index: 2000; }
ul.dropdown li a.hover              { position: relative; }


/*
    LEVEL TWO
*/
ul.dropdown ul                      { display: none; position: absolute; top: 0px; left: 200px; width: 180px; z-index: 1000; }
ul.dropdown ul li                   { font-weight: normal;  color: #000; background: white; }
ul.dropdown ul li a                 { display: block; }
ul.dropdown ul.submenu              { left: 140px;}



/** pagination **/

div.phGallary span#PageList #Page_1 {
    font-size: 1.8em;
    text-decoration: none;
    color: #bfe80d;
    transition: color, 1s, ease-out;
    padding-left: 5px;
}

div.phGallary span#PageList #Page_1:hover {
    background-color: #bfe80d;
    color: white;
}


div.phGallary span#PageList #Page_2 {
    font-size: 1.8em;
    text-decoration: none;
    color: #ffa202;
    padding-left: 5px;
    transition: color, 1s, ease-out;
}

div.phGallary span#PageList #Page_2:hover {
    background-color: #ffa202;
    color: white;
}

div.phGallary span#PageList {
    margin: 0 auto;
    float: none;
    letter-spacing: 4px;
}

#news-box div {
    border: none;
}

div.phGallary span#PageList #Page_3 {
    font-size: 1.8em;
    text-decoration: none;
    color: #cb3536;
    padding-left: 5px;
    transition: color, 1s, ease-out;

}

div.phGallary span#PageList #Page_3:hover {
    background-color: #cb3536;
    color: white;
}

/** google maps **/

.maps {
    pointer-events: none;
}


/** landing page **/

#landing-page {
    background-color: #032c33;
}

#landing-page-form input {
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: none;
    width: 249px;
    font-family: 'Open-Sans', 'Verdana', sans-serif;
    transition: color, 1s, ease-out;
    background-color: #97be3e;

}

#landing-page-form input:focus {
    background-color: #9dbb1d;
    color: white;
    outline: 0;
}

#landing-page-form input:-moz-placeholder {
    color: #000000;
}

#landing-page-form input::-webkit-input-placeholder {
    color: #000000;
}

#landing-page-form #send {
    background-color: #9dbb1d;
    color: white;
    transition: color, 1s, ease-out;
    width: 150px;
    margin-top: 15px;

}

#landing-page-form #send:hover {
    background-color: #8aa51a;
}

#landing-page-form #first-age {
    background-color: white;
    transition: color, 0.5s, ease-out;
}


#landing-text-section h4 {
    color: #97be3e;
    font-size: 2.0em;
}

#landing-text-section h6 {
    margin-bottom: 15px;
    font-size: 1.4em;
    color: white;
    text-align: justify;
}

#landing-text-section img {
    height: 250px;
    width: 100%;
    max-width: 450px;
}

.form-header {
    margin: 5px 0 5px 0;
    color: #98b711;
}

.form-header span a {
    color: #cb3536;
    font-size: 1.2em;
}

@media screen and (max-width: 1009px) {
    section#landing-page div.container div#landing-text-section {
        width: 40%;
    }
    section#landing-page div.container div#landing-form-section {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    section#landing-page div.container div#landing-form-section {
        width: 88%;
    }
    #landing-page-form input{
        width: 87.9%;
    }

    #landing-page-form {
        float: none!important;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 25px;
    }

    #slct1, #slct2, #slct3, #slct4, #slct5 {
        width: 91.5%!important;
}

    #landingForm-tabs {
        margin-left: 70px;
    }

    ul.time-table-list {
        border-bottom: 1px solid #97be3e;
        bottom: 1px;
        width: 100%;
    }

    ul#questionsSecond li p {
        font-size: 1.4em;
        display: none;
    }

    .form-header {
        margin: 5px 0 5px 0;
        color: #98b711;
        float: left;
        margin-left: 31px;
        margin-right: 145px!important;
    }

    .chzn-container {
        width: 91%!important;
    }

    #landing-text-section img {
        height: 230px;
        display: none;
    }

    section#landing-page div.container div#landing-text-section {
        width: 90%;
    }

}

@media only screen and (max-width: 740px){
    .age-hidden {
        visibility: hidden!important;
    }
} 

@media only screen and (max-width:400px ) {
    ul.time-table-list li {
        font-size: 12px!important;
    }

    #krakow-table li {
        margin-right: 19px!important;
    }

    .third-margin {
        margin-left: 103px!important;
    }

    .fourth-margin {
        margin-left: 143px!important;
    }

    .five-margin {
        margin-left: 102px!important;
    }

    #krakow-table .twoo {
        margin-left: 41px!important;
    }

    .third-margin-second {
        margin-left: 105px!important;
    }

    .fourth-margin-third {
        margin-left: 143px!important;
    }

    .bemowo-margin {
        margin-left: 52px!important;
    }

    .jozefow-margin {
        margin-left: 56px!important;
    }

    .ursus-margin {
        margin-left: 70px!important;
    }

    .krakow-first-margin {
        margin-left: 58px!important;
    }

    .margin-krakow-second {
        margin-left: 142px!important;
    }
}

/** dropdown menu **/

#nav{
    height: 39px;
    border-radius: 3px;
    min-width:500px;
    border:1px solid #ddd;
}

#nav li{
    list-style: none;
    display: block;
    float: left;
    height: 40px;
    position: relative;
}

#nav li a{
    padding: 0px 10px 0px 10px;
    margin: 0px 0;
    line-height: 40px;
    border-right: 1px solid #ddd;
    height: 40px;
}

#nav ul{
    padding: 0px;
    width:170px;
    border:1px solid #ddd;
}
#nav .site-name,#nav .site-name:hover{
    padding-left: 10px;
    padding-right: 10px;
    width: 160px;
}
#nav .site-name a{
    width: 129px;

}
#nav li a{
    display: block;
}
#nav ul li {
    border-right:none;
    border-bottom:1px solid #DDDDDD;
    width:170px;
    height:39px;
}
#nav ul li a {
    border-right: none;
    border-bottom:1px solid #FFFFFF;
}

/* Sub menus */
#nav ul{
    display: none;
    visibility:hidden;
    position: absolute;
    left: 100px;
}
/* Third-level menus */
#nav ul ul{
    top: 0px;
    left:170px;
    display: none;
    visibility:hidden;
    border: 1px solid #DDDDDD;
}



ul.second-submenu {
    position: absolute;
    left: 200px;
    background: white;
    top: 308px;
    overflow: visible!important;
}

ul.first-submenu {
    position: absolute;
    left: 200px;
    background: white;
    top: 200px;
    overflow: visible!important;
}

ul.last-submenu {
    position: absolute;
    left: 130px;
    background: white;
    left: 140px;
    top: 0px;
    overflow: visible!important;
}

ul#second-last-submenu {
    top: 36px;
}

ul#third-last-submenu {
    top: 95px;
    
}


/** table **/

table {
    margin: 0 auto;
    float: none;

    padding: 25px;
}

th {
    color: white;
    font-size: 1.5em;
    padding: 20px 40px 20px 40px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}


th.first-cell {
    background-color: #bee904;
}

th.second-cell {
    background-color: #ffa204;
}

th.third-cell {
    background-color: #cb3638;
}

th.fourth-cell {
    background-color: #61ae8a;
    padding-left: 30px;
    padding-right: 30px;
}



th.time-table {
    color: white;
    background-color: #bee904;
    border: 1px solid white;
    font-size: 1.4em!important;

}

td {
    font-size: 1.1em;
    /* color: white; */
    text-align: center;
    font-family: Lato;
    border: 1px solid white;
    font-style: oblique;

}

th.time-table {
    padding: 5px;
}

th.subName-cell, th.first-cell, th.second-cell, th.third-cell, th.fourth-cell {
    padding: 15px;
}

.subName-cell {
    background-color: #9dbb1d;
    visibility: hidden;

}

.ursynow-cell {
    background-color: #efefef;
    transition: background, 1s, ease-out;
}

.ursynow-cell:hover {
    background-color: #d8d6d6;
    
}

.monday-cell {
    padding-left: 35px;
    padding-right: 35px;
}

.bemowo-cell {
    background-color: #efefef;
    transition: background, 1s, ease-out;
}

.bemowo-cell:hover {
    background-color: #d8d6d6;
    
}

.tuesday-cell {
    padding-left: 35px;
    padding-right: 35px;
    font-style: normal!important;
}

.tarchomin-cell {
    background-color: #efefef;
    transition: background, 1s, ease-out;
}

.tarchomin-cell:hover {
    background-color: #d8d6d6;
    
}

.wednesday-cell {
    padding-left: 30px;
    padding-right: 30px;
    font-style: normal!important;
}

.ursus-cell {
    background-color: #efefef;
    transition: background, 1s, ease-out;
}

.ursus-cell:hover {
    background-color: #d8d6d6;

}

.thursday-cell {
    padding-left: 30px;
    padding-right: 30px;
    font-style: normal!important;
}

.friday-cell {
    padding-left: 40px;
    padding-right: 40px;
    font-style: normal!important;
}

.saturday-cell {
    padding-left: 30px;
    padding-right: 30px;
    font-style: normal!important;
}

.table-header {
    color: #cb3536;
    float: none;
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
    padding-top: 25px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 1199px) and (min-width: 920px) {
    .monday-cell, .tuesday-cell, .wednesday-cell, .thursday-cell, .friday-cell, .saturday-cell {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 1010px) {
   th{
    padding: 5px 5px 5px 5px;
   }
}

@media only screen and (max-width: 800px) {
    th{
        padding: 5px 5px 5px 5px;
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 919px) {
    #mobile-table-list {
        display: table!important;
        
    }
}

@media only screen and (max-width: 603px) {
    table{
        display: none;
        overflow: hidden;
    }
}

ul.time-table-list {
        display: table!important;
        margin: 0 auto;
    }

    ul.time-table-list li span.hours-table {
        float: right;
        margin-left: 25px;

    }

    ul.time-table-list li span.data-table {
        margin-right: 25px;
        margin-left: 25px;
        float: left;
    }

    ul.time-table-list h6.list-header {
        color: #bee904;
        margin-top: 15px;
        border-top: 1px solid;
        padding-top: 15px;
    }

    ul.time-table-list h6#first-list-header {
        border-top: none;
    }

    ul.time-table-list li {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    color: #97be3e;
    font-size: 15px;
    padding-top: 25px;

}
   
   .table-header {
    margin-bottom: 0!important;
}

ul.time-table-list {
    border-bottom: 1px solid #97be3e;
    bottom: 1px;
    width: 550px;
}

#krakow-table {
    border-bottom: 1px solid #97be3e!important;
}

#krakow-table li {
    margin-right: 25px;
}

#krakow-table .second-item {
    margin-left: 60px;
}

#krakow-table .fourth-item {
    margin-right: 0;
    margin-left: 41px;
}

#krakow-table .two {
    margin-left: 50px!important;
}

#krakow-table .third {
    margin-left: 58px;
}

#krakow-table .fourth {
    margin-left: 35px;
}

#krakow-table .five {
    margin-left: 48px;
}

#krakow-table #margin-item {
    margin-left: 161px;
}

#krakow-table #margin-secondItem {
    margin-left: 121px;
}

#krakow-table .twoo {
    margin-left: 37px;
}

#krakow-table #margin-thirdItem {
    margin-left: 52px;
}

ul.time-table-list li {
    display: inline-block;
}

#second-time {
    background-color: #bee904;
}

.blank-cell {
    border: none;
}

#first {
    border-top: none;
}

.slct {
      width: 270px;
  height: 35px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 7px;
  background-color: #97be3e;
}

#slct2 {
  width: 270px;
  height: 35px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 7px;
  background-color: #97be3e;
}

#slct3 {
  width: 270px;
  height: 35px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 7px;
  background-color: #97be3e;
}

#slct4 {
  width: 270px;
  height: 35px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 7px;
  background-color: #97be3e;
}

#slct5 {
  width: 269px;
  height: 35px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 7px;
  background-color: #97be3e;

 } 

#slct6 {
  width: 270px;
  height: 35px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 7px;
  background-color: #97be3e;
}

#slct7 {
  width: 270px;
  height: 35px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 7px;
  background-color: #97be3e;
}

#slct8 {
  width: 270px;
  height: 35px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 7px;
  background-color: #97be3e;
}

ul#questionsSecond li p {
    font-size: 1.4em;
    display: none;
}


@media only screen and (max-width: 1080px) {
    #slct1,#slct2,#slct3,#slct4,#slct5{
        
    }
}

@media only screen and (max-width: 800px) {
    .slct{
        width: 87.9%
    }
    #slct2{
        width: 103.3%
    }
    #slct3{
        width: 103.3%
    }
    #slct4{
        width: 103.3%
    }
    #slct5{
        width: 103.3%;
    }
    select {
        background-color: white;
    }
}

select {
    transition: background-color, 1s ,ease-out;
}

select:focus {
    background-color: #9dbb1d;
    outline: 0;
}

#przedmiot-option {
    display: none;
}

#godzina-option {
    display: none;
}

#data-option {
    display: none;
}

@media only screen and (max-width: 460px) {
    #info-commit {
        font-size: 1em;
    }
}

#wiek-dziecka {
    display: none;
}

.landingForm-tab {
    background-color: #032c33!important;
}

.form-tabs {
    background-color: #032c33!important;
}

.form-tabs li {
    border-top: none!important;
    border-right: none!important;
    border-left: none!important;
    width: 170px!important;
}

.form-tabs a {
    padding: 15px!important;
    color: white;
}

#landingForm-tabs {
    
    margin-bottom: 50px;
}

/*#tab-1 {
    padding: 0!important;
}

#tab-2 {
    padding: 0!important;
}*/

#landing-page-form {
    float: left;
}

#landing-text-section {
    float: right;
}

#landing-pageHeader {
    color: white;
}


#questions{
    list-style:none;
}




#questions > li p{
    line-height:60px;
    color:#70777a;
    font-size:18px;
    margin-bottom:20px;
    display: none;
}

#questions li .divider,
#questions li .divider:before,
#questions li .divider:after{
    content:'';
    position:absolute;
    background-color:#384044;
    width:8px;
    height:8px;
    border-radius:50%;
    bottom:-35px;
    left:50%;
    margin-left:-4px;
}

#questions li .divider:before{
    margin-left:-24px;
    bottom:0;
}

#questions li .divider:after{
    margin-left: 16px;
    bottom:0;
}



.chzn-container{
    text-align:left;
}

#preloader{
    height:80px;
    background:url('../img/ajax-loader.gif') no-repeat center center;
    width:500px;
    display:none;
    margin: -120px auto 0;
}


.up {
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 0 100px 173.2px 100px;
    border-color: transparent transparent #e04938 transparent;
    float: left;
    transform:rotate(-40deg);
    
}

.up p {
    text-align: center;
    top: 50px;
    left: -47px;
    position: relative;
    width: 93px;
    height: 93px;
    margin: 0px;
    color: white;
}
.location-harmonogram {
    float: left;
}
.location-harmonogram table{
    width: 100%;
    min-height: 200px;

}
.location-harmonogram table td{
    text-align: left;
    font-size: 1.2em;
    font-style: normal;
}

.location-harmonogram table td:first-child{
    color: #53A881;
    width: 27%;
}

.harmonogram-table {
    border: 1px solid #efefef;
    padding: 1%;
}

.text-center {
    text-align: center;
}

#slider-section {
    background-color: #fff;
    display: none;
}


.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 50%;
    border: 0;
	margin-right: 15px;
	margin-bottom: 15px;
}
.rslides div {
    display: block;
    height: auto;
    float: right;
    width: 100%;
    padding: 0px 40px;
    border: 0;
	min-height: 420px;
}

.rslides_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 60%;
    left: 15px;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../assets/images/arrows.gif") no-repeat left top;
    margin-top: -130px;
}

.rslides1_nav.next {
    left: auto;
    background-position: right top;
    right: 15px;
}
