body {
   background: red;
	padding: 0;
	margin: 0;			
  overflow:scrol; 
  color:#484848;
  }
table.plan{
	background: #fff;
	border: 1px solid #999;
	border-left: 0;
	border-top: 0;
	margin: 0 auto;
}
table.plan th,
table.plan td
{
	border-left: 1px solid #999;
	border-top: 1px solid #999;
	padding: 0 2px;
	vertical-align: middle;
	text-align: center;	
	width: 100px;
	height: inherit;
}
table.plan tr.day
{
	height: 40px;
}
table.plan th
{
	background: #fff;
	height: 15px;
	text-transform: capitalize;
	text-align: center;
	vertical-align: middle;
}
table.plan td.grupa
{
	text-align: center;
	vertical-align: middle;
	font-weight:bold;
}





