   /*--------------------------------------:noTabs=true:tabSize=2:indentSize=2:--
    --  Xinha example CSS file.  This is ripped from Trac ;)
    --
    --  $HeadURL:http://svn.xinha.webfactional.com/trunk/examples/files/full_example.css $
    --  $LastChangedDate:2008-02-04 01:43:21 +0100 (Mo, 04 Feb 2008) $
    --  $LastChangedRevision:962 $
    --  $LastChangedBy:ray $
    --------------------------------------------------------------------------*/


 body {
   background: red;
	padding: 0;
	margin: 0;			
  overflow:scrol; 
  color:#484848;
  }
table.plan{
	background: #fff;
	border: 1px solid #999;
	border-left: 0;
	border-top: 0;
	margin: 0 auto;
}
table.plan th,
table.plan td
{
	border-left: 1px solid #999;
	border-top: 1px solid #999;
	padding: 0 2px;
	vertical-align: middle;
	text-align: center;	
	width: 100px;
	height: inherit;
}
table.plan tr.day
{
	height: 40px;
}
table.plan th
{
	background: #fff;
	height: 15px;
	text-transform: capitalize;
	text-align: center;
	vertical-align: middle;
}
table.plan td.grupa
{
	text-align: center;
	vertical-align: middle;
	font-weight:bold;
}





